<div class='container'>
  <div class='row'>
    <% @posts.last(6).each do |post| %>
      <div class='col-xs-4'>
        <div class='image'>
          <%= image_tag post.picture %>
          <div class='overlay'>
            <div class='heart'>
              <%= heart("white") %>

            </div>


            <% post.tags.each do |tag| %>

            <% display_tag(tag) %>
            <% end %>


          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
